:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  width: 350px;
  border: 1px solid grey;
  margin-bottom: 8px;
  padding: 10px 5px;
  background-color: white;

  border-radius: 7px;
background: #ffffff;
box-shadow:  10px 10px 20px #d4d4d4,
             -10px -10px 20px #ffffff;
 
}
li:hover{
    box-shadow: var(--box-shadow);
}
h3 {
    width: 100%;
    border-bottom: solid 1px grey;
    padding-bottom: 8px;
    margin-bottom: 8px;
    
  }

li.plus {
  border-left: 5px solid green;
}
li.minus {
  border-left: 5px solid red;
}
li .btn {
    transition: opacity 0.3s ease;
    opacity: 0;
    background-color: rgb(252, 81, 81);
    border: 0;
    padding: 4px 8px;
    border-radius: 100%;
    
}
li:hover .btn {
    opacity: 1;
}
